/* AppNavbar.css */

/* Ajouter de l'espace entre les éléments */
.nav-item {
    margin-right: 10px; /* Espace à droite entre les éléments */
  }
  
  /* Style pour les liens des boutons */
  .nav-link {
    color: white; /* Couleur du texte */
    font-weight: bold; /* Gras */
    text-decoration: none; /* Pas de soulignement */
    transition: color 0.3s; /* Transition de couleur en 0.3s */
  }
  
  /* Style au survol */
  .nav-link:hover {
    color: #ffc107; /* Couleur du texte au survol */
  }
  
  /* Style pour les boutons */
  .nav-button {
    background-color: #007bff; /* Couleur de fond du bouton */
    border: none; /* Pas de bordure */
    color: white; /* Couleur du texte */
    font-weight: bold; /* Gras */
    padding: 8px 16px; /* Espacement interne */
    border-radius: 4px; /* Coins arrondis */
    cursor: pointer; /* Curseur de pointeur */
    transition: background-color 0.3s; /* Transition de couleur en 0.3s */
  }
  
  /* Style au survol */
  .nav-button:hover {
    background-color: #0056b3; /* Couleur de fond du bouton au survol */
  }
  